<table class="table_list" >
  <tr class="important_row">
    <td colspan="2"><%= t('activist.search.search_params') %></td>
  </tr>

  <tbody class="unhideable">
    <% Activist.unhideable_fields.each do |field_name| %>
      <%= render :partial => 'filters_field', :locals => { :klass => 'activist', :field_name => field_name } %>
    <% end %>

    <tr class="list_style_0">
      <td>
        <label><%= t('activerecord.attributes.activists_collaboration.activist_status_id') %>:</label>
      </td>
      <td>
        <%= select("activist", "activists_collaborations_activist_status_id_eq",
                    ActivistStatus.all.collect {|as| [as.name,as.id] },
                    { :selected => (( params[:activist] && params[:activist]['activist_status_id']) ? params[:activist]['activist_status_id'].to_i : ''),
                                  :include_blank => true }) %>
      </td>
    </tr>

    <tr class="list_style_1">
      <td>
        <label><%= Gx.t_attr('activist.with_active_collaborations') %></label>
      </td>
      <td>
        <% cur_selected_value = (params[:activist] ? params[:activist][:with_active_collaborations] : '' ) %>
        <%= select  "activist", "with_active_collaborations", [["", ""],["Si","1"],["No","0"] ], :selected => cur_selected_value %>
      </td>    
    </tr>

    <tr class="list_style_0">
      <td>
        <label><%= Gx.t_attr('activist.is_partner') %></label>
      </td>
      <td>
        <% cur_selected_value = (params[:activist] ? params[:activist][:is_partner] : '' ) %>
        <%= select  "activist", "is_partner", [["", ""],["Si","1"],["No","0"] ], :selected => cur_selected_value %>
      </td>    
    </tr>

  </tbody>

  <%= render :partial => 'show_more_row' %>

  <tbody id="activist_extra_fields" class="hideable" style="display: none;">
    <% Activist.hideable_fields.each do |field_name| %>
      <%= render :partial => 'filters_field', :locals => { :klass => 'activist', :field_name => field_name } %>
    <% end %>
  </tbody>

  <tr class="important_row hideable" style="display: none;">
    <td colspan="2"><%= t('activist.search.collaborations_params') %></td>
  </tr>

  <tr class="list_style_0 hideable" style="display: none;">
    <td>
      <label><%= t('role.stage_type') %>:</label>
    </td>
    <td>
      <% organization_type_param  = (params[:activist] ? params[:activist][:activists_collaborations_organization_type_eq] : '') %>
      <% organization_type_values = [[ '', '']] + ActivistsCollaboration.organization_types.collect{ |o| [ Gx.t_attr("activists_collaboration.#{ o.underscore }"), o ] } %>
      <%= select "activist", "activists_collaborations_organization_type_eq", organization_type_values, :selected => organization_type_param %>
      <% content_for(:head){ javascript_tag "addAutocompleteInputCallback('activist_activists_collaborations_organization_type_eq', '#{organizations_for_search_path}', 'organization_type', 'activist_activists_collaborations_organization_id_eq');" } %>
    </td>
  </tr>

  <tr class="list_style_1 hideable" style="display: none;">
    <td>
      <label><%= t('activerecord.attributes.activists_collaboration.organization_id') %>:</label>
    </td>
    <td>
      <% organization_id_param  = (params[:activist] ? params[:activist][:activists_collaborations_organization_id_eq] : nil) %>
      <% if organization_type_param.present? %>
        <% options_for_organization_id = [['','']]+ActivistsCollaboration.organizations_by_type("Member"+organization_type_param).collect{ |o| [o.name, o.id] } %>
      <% else %>
        <% options_for_organization_id = [['','']] %>
      <% end %>
      <%= select 'activist', 'activists_collaborations_organization_id_eq', options_for_organization_id, :selected => organization_id_param %>
      <% content_for(:head){ javascript_tag "addAutocompleteInputCallback('activist_activists_collaborations_organization_id_eq', '#{autonomic_teams_for_search_path}', 'organization_id', 'activist_activists_collaborations_autonomic_teams_id_eq');" } %>
    </td>
  </tr>

  <tr class="list_style_0 hideable" style="display: none;">
    <td>
      <label><%= t('activerecord.attributes.activists_collaboration.autonomic_teams') %>:</label>
    </td>
    <td>
      <% autonomic_team_id_param  = (params[:activist] ? params[:activist][:activists_collaborations_autonomic_teams_id_eq] : nil) %>
      <% if organization_type_param == 'Autonomy' && !organization_id_param.blank? %>
        <% options_for_autonomic_team_id = [['','']]+Autonomy.find(organization_id_param).autonomic_teams.collect{|t| [t.name, t.id] } %>
      <% else %>
        <% options_for_autonomic_team_id = [['','']] %>
      <% end %>
      <%= select 'activist', 'activists_collaborations_autonomic_teams_id_eq', options_for_autonomic_team_id, :selected => autonomic_team_id_param %>
    </td>
  </tr>

  <tr class="list_style_1 hideable" style="display: none;">
    <td>
      <label><%= t('activerecord.attributes.activists_collaboration.collaboration_type') %>:</label><i class="help"><%= t("form.multiple_select_help").html_safe %></i>
    </td>
    <td>
      <% collaboration_type_param  = (params[:activist] ? params[:activist][:activists_collaborations_collaboration_type_in] : '') %>
      <%= select 'activist', 'activists_collaborations_collaboration_type_in', 
                 options_for_select(ActivistsCollaboration.collaboration_types.collect { |x| [t("activists_collaboration." + x),x] }, collaboration_type_param),
                 {}, { :multiple => true } %>
    </td>
  </tr>

  <tr class="list_style_1 hideable" style="display: none;">
    <td>
      <label><%= t('activerecord.attributes.activists_collaboration.join_at') %></label>
    </td>
    <td>
          Entre <%= text_field_tag "activist[activists_collaborations_join_at_gteq]", 
                                   (params[:activist] ? params[:activist][:activists_collaborations_join_at_gteq] : ''),
                                   :size => '8', :maxlength => 10
                %>
          <%= javascript_tag("$('#activist_activists_collaborations_join_at_gteq').datepicker({ yearRange: '1990:#{Date.today.year}' });") %>

          y <%= text_field_tag "activist[activists_collaborations_join_at_lteq]", 
                                   (params[:activist] ? params[:activist][:activists_collaborations_join_at_lteq] : ''),
                                   :size => '8', :maxlength => 10
                %>
          <%= javascript_tag("$('#activist_activists_collaborations_join_at_lteq').datepicker({ yearRange: '1990:#{Date.today.year}' });") %>
    </td>
  </tr>

  <tr class="list_style_1 hideable" style="display: none;">
    <td>
      <label><%= t('activerecord.attributes.activists_collaboration.leave_at') %></label>
    </td>
    <td>
          Entre <%= text_field_tag "activist[activists_collaborations_leave_at_gteq]", 
                                   (params[:activist] ? params[:activist][:activists_collaborations_leave_at_gteq] : ''),
                                   :size => '8', :maxlength => 10
                %>
          <%= javascript_tag("$('#activist_activists_collaborations_leave_at_gteq').datepicker({ yearRange: '1990:#{Date.today.year}' });") %>

          y <%= text_field_tag "activist[activists_collaborations_leave_at_lteq]", 
                                   (params[:activist] ? params[:activist][:activists_collaborations_leave_at_lteq] : ''),
                                   :size => '8', :maxlength => 10
                %>
          <%= javascript_tag("$('#activist_activists_collaborations_leave_at_lteq').datepicker({ yearRange: '1990:#{Date.today.year}' });") %>
    </td>
  </tr>

  <tr class="list_style_0 hideable" style="display: none;">
    <td><label><%= t('activerecord.attributes.activists_collaboration.responsibility_ids') %></label><i class="help"><%= t("form.multiple_checkbox_or_help") %></i></td>
    <td><% Responsibility.all.each do |responsibility| %>
      <div class="left small_margin small">
	<%= check_box_tag("activist[activists_collaborations_responsibilities_id_eq_any][]",
			  responsibility.id,
			  (params[:activist] && params[:activist]['activists_collaborations_responsibilities_id_eq_any'] && params[:activist]['activists_collaborations_responsibilities_id_eq_any'].include?(responsibility.id.to_s)),
        {:style => 'width: 20px' }) %> <%= responsibility.name %>
        
      </div>
    <% end %></td>
  </tr>

  <tr class="list_style_1 hideable" style="display: none;">
    <td><label><%= t('activerecord.attributes.activists_collaboration.expertise_ids') %></label><i class="help"><%= t("form.multiple_checkbox_or_help") %></i></td>
    <td><% Expertise.all.sort_by{|e|[e.category, e.name]}.each do |expertise| %>
      <p class="left small_margin small">
	<%= check_box_tag("activist[activists_collaborations_expertises_id_eq_any][]",
			  expertise.id,
			  (params[:activist] && params[:activist]['activists_collaborations_expertises_id_eq_any'] && params[:activist]['activists_collaborations_expertises_id_eq_any'].include?(expertise.id.to_s))) %> <%= "#{expertise.category}: #{expertise.name}" %>
      </p>
    <% end %></td>
  </tr>

  <tr class="list_style_1 hideable" style="display: none;">
    <td>
      <label><%= t('activerecord.attributes.activists_collaboration.availability_id') %>:</label>
    </td>
    <td>
      <%= select("activist", "activists_collaborations_availability_id_eq",
                 Availability.all.collect {|a| [a.name,a.id] },
                 { :selected => (( params[:activist] && params[:activist]['activists_collaborations_availability_id_eq']) ? params[:activist]['activists_collaborations_availability_id_eq'].to_i : ''),
                                        :include_blank => true }) %>
    </td>
  </tr>

  <tr class="list_style_1 hideable" style="display: none;">
    <td>
      <label><%= t('activerecord.attributes.activists_collaboration.more_info') %>:</label>
    </td>
    <td>
      <%= text_area_tag("activist[activists_collaborations_more_info_eq]", ((params[:activist] && params[:activist]["activists_collaborations_more_info_eq"]) ? params[:activist]["activists_collaborations_more_info_eq"] : '')) %>

    </td>
  </tr>
</table>
