<table class="table_list" >
  <tr class="important_row">
    <td colspan="2"><%= t('interested.search.search_params') %></td>
  </tr>

  <tbody class="unhideable">
    <% Interested.unhideable_fields.each do |field_name| %>
      <%= render :partial => 'filters_field', :locals => { :klass => 'interested', :field_name => field_name } %>
    <% end %>

  <tr class="list_style_0">
    <td>
      <label><%= Gx.t_attr('interested.is_minor') %></label>
    </td>
    <td>
      <% cur_selected_value = (params[:interested] ? params[:interested][:is_minor] : '' ) %>
      <%= select "interested", "is_minor", [["", ""],["Si","1"],["No","0"]], :selected => cur_selected_value %>
    </td>   
  </tr> 

  <tr class="list_style_1">
    <td>
      <label><%= Gx.t_attr('interested.has_pending_communication') %></label>
    </td>
    <td>
      <% cur_selected_value = (params[:interested] ? params[:interested][:has_pending_communication] : '' ) %>
      <%= select "interested", "has_pending_communication", [["", ""],["Si","1"],["No","0"]], :selected => cur_selected_value %>
    </td>   
  </tr> 

  <tr class="list_style_0">
    <td>
      <label><%= Gx.t_attr('interested.is_activist') %></label>
    </td>
    <td>
      <% cur_selected_value = (params[:interested] ? params[:interested][:is_activist] : '' ) %>
      <%= select "interested", "is_activist", [["", ""],["Si","1"],["No","0"]], :selected => cur_selected_value %>
    </td>    
  </tr> 

  <tr class="list_style_1">
    <td>
      <label><%= Gx.t_attr('interested.with_talks') %></label>
    </td>
    <td>
      <% cur_selected_value = (params[:interested] ? params[:interested][:with_talks] : '' ) %>
      <%= select "interested", "with_talks", [["", ""],["Si","1"],["No","0"]], :selected => cur_selected_value %>
    </td>   
  </tr> 

  <tr class="list_style_0">
    <td>
      <label><%= Gx.t_attr('interested.local_organization_id') %></label>
    </td>
    <td>
      <% local_organization_id_param  = (params[:interested] ? params[:interested][:local_organization_id_eq] : nil) %>
      <%= select "interested", "local_organization_id_eq", 
                 LocalOrganization.orderby_name.only_to_interesteds.scoping_with_agent(current_agent).collect { |o| [o.name, o.id] },
                 :include_blank => true, 
                 :selected => local_organization_id_param
      %>
      <% content_for(:head){ javascript_tag "addAutocompleteInputCallback('interested_local_organization_id_eq', '#{talks_as_options_for_search_talks_path}', 'local_organization_id', 'interested_talks_id_eq_any', function(){fitListSizeToContents('interested_talks_id_eq_any',5)});" } %>

    </td>
  </tr> 

  <tr class="list_style_1">
    <td>
      <label><%= Gx.t_attr('interested.talks') %>:</label><i class="help"><%= raw t("form.multiple_select_help") %></i>
    </td>
    <td>
      <% talks_id_param  = (params[:interested] ? params[:interested][:talks_id_eq_any] : nil) %>
      <% if local_organization_id_param.blank? %>
        <% options_for_talks = [ [ t("talk.select_a_group"), ''] ] %>
      <% else %>
        <% options_for_talks = [['','']]+LocalOrganization.find(local_organization_id_param).talks.collect{|t| [t.name, t.id] } %>
      <% end %>
      <%= 
          select 'interested', 'talks_id_eq_any', options_for_select(options_for_talks,talks_id_param), {},
                 :multiple => true, :size => "1", 
                 :onchange => "''"
      %>
      <%= javascript_tag "fitListSizeToContents('interested_talks_id_eq_any',5);" %>
    </td>
  </tr> 

  </tbody>

  <%= render :partial => 'show_more_row' %>

  <tbody id="interested_extra_fields" class="hideable" style="display: none;">
    <% Interested.hideable_fields.each do |field_name| %>
      <%= render :partial => 'filters_field', :locals => { :klass => 'interested', :field_name => field_name } %>
    <% end %>
  </tbody>
</table>
