<!-- <<<<<HIDE_CHECK_BOX-->
<% if embedded.nil? %>
  <th></th>
<% end %>
<!-- >>>>>HIDE_CHECK_BOX-->
<th><%= Gx.t_attr("user.login") %></th>
<th><%= Gx.t_attr("user.email") %></th>
<th><%= Gx.t_attr("user.organizations_trackings") %></th>
<th><%= Gx.t_attr("user.created_at") %></th>
